* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg_Blue {
  background: blueviolet;
  border-radius: 10px;
}
.fa-bars {
  color: white;
}

.addButton {
  left: 35%;
  top: 100%;
}

.listbox {
  height: 50px;
  padding-left: 30px;
  border: 2px solid blueviolet;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 15px;
  position: relative;
  /* justify-content: center; */
}
.hidden {
  display: none !important;
}

.absolute {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}
.input_div {

  border: 2px solid blueviolet;
  height: 60vh;
  width: 60vw;
      position: absolute;
  background: white;
  opacity: 0.9;
  border-radius: 10px;
  top: 10vh;
}
.edit_div {
  height: 60vh;
  width: 60vw;
  margin-top: 15vh;
  border: 2px solid blueviolet;
  background: white;
  border-radius: 10px;
  position: absolute;
  top: 10vh;
}

.right_top {
  top: 0;
  right: 0;
}
.inputbox,
.editbox {
  height: 40px;
  width: 40%;
  border: 2px solid blueviolet;
  border-radius: 10px;
}
.addButton {
  border: 2px solid blueviolet;
  height: 55px;
  border-radius: 10px;

  text-align: center;
  background: blueviolet;
  cursor: pointer;
}

.addItem {
  font-weight: 500;
  color: white;
  border: 2px solid blueviolet;
  padding-top: 10px;
  height: 50px;
  width: 80px;
  text-align: center;
  background: blueviolet;
  cursor: pointer;
  border-radius: 10px;
}
.addItem:hover,
.addButton:hover,
.saveItem:hover {
  color: blueviolet !important;
  background: rgb(245, 240, 240);
}
.saveItem {
  font-weight: 500;
  color: white;
  border: 2px solid blueviolet;
  padding-top: 10px;
  height: 50px;
  width: 80px;
  text-align: center;
  background: blueviolet;
  border-radius: 10px;
  cursor: pointer;
}
.border-primary{

  border-bottom:  8px solid blueviolet !important;
}
.cross {
  cursor: pointer;
}

button {
  padding: 3px 20px;
  margin: 10px 10px;
  border: none;
  border: 2px solid blueviolet;
  border-radius: 10px;
  border: none !important;
}
.fa-check-square {
  margin-right: 10px;
}
.smallBox {
  border: 2px solid blueviolet;
  padding: 10px 10px;
  margin-top: 7px;
  border-radius: 6px;
}

.fa-times,
.fas,
.fal {
  color: blueviolet;
  cursor: pointer;
}
.btn:focus {
  outline: none !important;
  display: none !important;
}
ul h2 {
  color: blueviolet !important;
}

.